@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4"> Hello
    </h1>
    <p>I enjoy listening to lofi when I'm studying.</p>
    <p>Please listen to one of my favourite playlist below.</p>
    <p>Enjoy!</p>
</div>

<div class="text-center">
    <iframe id="video "width="760" height="515" src="https://www.youtube.com/embed/VsTY-kyp2Js?start=17" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<canvas id="canvas">Canvas not supported.</canvas>



