html {
    font-size: 14px;
    background-color: #203644;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color: white;
    margin-bottom: 60px;
    position: relative;
    background: #00222B;
    
}

body h1 {
    margin-bottom: 20px;
}

body p {
    line-height: 10px;
    font-size: 20px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 700;
}

footer {
    height: 0px;
    text-align: center;
}


iframe {
    margin: 40px;
    z-index: 99999;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
